//fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat&family=Open+Sans:wght@600&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sixtyfour&family=Sixtyfour+Convergence&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --main-color: #990077;
    --font: "Quicksand", sans-serif;
}

.quicksand-400{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: #2b2a33;
    color: white;
    /* line-height: 1.6; */
    font-family: var(--font);
}

main{
 margin: 1em;
}

.gradient-background {
  background: linear-gradient(300deg,darkviolet,#2b2a33,#990077);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#banner{
    text-align: center;
    /* background-color: #2b2a33; */
    /* position: absolute; */
    z-index: 3;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner-bottom{
    text-align: center;
    /* background-color: #2b2a33; */
    /* position: absolute; */
    z-index: 2;
    padding: 2em;
    justify-content: center;
    align-items: center;
    display: none;
     -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* padding: 10px; */
  border: none;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  /* white-space: pre; */
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}




#banner-bottom:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}




.titulo_RLG, .titulo_LCDS{
    font-size: 4em !important;
    font-weight: 800 !important;
}

.video-sara{
    width: 100%;
    max-height: 520px;
    object-fit: cover;
    object-position: bottom;
    height: auto;
    border-radius: 8px;
}

.card{
    min-width: 280px;
    max-width: 400px;
}

.episodio{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

.miembro-del-equipo{
    text-align: center;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    display: inline-block;
}

.foto-de-miembro{
    max-height: 180px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    filter:opacity(95%);
    z-index: 1;
    border: solid 12px lightgrey;
}

.nombre-de-miembro{
z-index: 2;
position: absolute;
background-color: var(--main-color);
padding: 8px 16px;
border-radius: 20px;
bottom: -13px;
max-width: 220px;

}

.equipo{
    text-align: center;
}

#equipo{
    scroll-margin-top: 60px;}

.contenedor-miembro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section{
  scroll-margin-top: 70px;
    /* scroll-margin-top: 260px; */
  margin: 200px 0    !important;
  /* border: solid 3px red; */
}
/* 
section:target {
  padding-top: 60px;
  margin-top: -60px;
} */

.contenedor-titulos{
    height: 250px;
}

.contenedor-titulo{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}